<!DOCTYPE html>
<html>
<head>
<link type="text/css" rel="stylesheet" href="/files/styles.css"/>
<title>reddit: the front page of week four and five</title>
</head>
<body style="background-color:lightgrey">
	<table>
		<thead>
		</thead>	
		<tbody>
				<td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/login">Login</a></td>
				<td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/signup">Register</a></td>
				<!--<td><button type='submit'>Logout</button></td>-->
		</tbody>
	</table>
		<table>
		<thead>
		</thead>
		<tbody>
				<td><a href='https://july-20-reddit-nodejs-yvkschaefer.c9users.io/?sort=top'>Top</a></td>
				<td><a href='https://july-20-reddit-nodejs-yvkschaefer.c9users.io/?sort=hot'>Hot</a></td>
				<td><a href='https://july-20-reddit-nodejs-yvkschaefer.c9users.io/?sort=new'>New</a></td>
				<td>Controversial</td>
		</tbody>
	  </table>
	  <div><% posts.forEach(function(post){ %>
	  	<h3><a href='<%= post.url %>'><%= post.title %></a></h3>
	  		<ul>
	  			<li>user id: <%= post.user.username %></li>
	  			<li>Created <%= post.createdAt %></li>
	  			<li>subreddit id: <%= post.subreddits.id %></li>
	  			<li>vote score: <%= post.voteScore %></li>
				<li>vote hotness: <%= (post.voteHotness * 100000).toFixed(2) %></li>
	  		<form action='/vote' method='post'>
	  			<input type='hidden' name='vote' value='1'>
	  			<input type='hidden' name='postId' value='<%= post.id %>'>
	  			<button type='submit'>&#8593;</button>
	  		</form>
			<form action='/vote' method='post'>
				<input type='hidden' name='vote' value='-1'>
				<input type='hidden' name='postId' value='<%= post.id %>'>
				<button type='submit'>&#8595;</button>
			</form>
	  	</ul>
	  	<% }) %>
	  </div>
	  <table>
	  <thead>
  	</thead>
	  <tbody>
	    <td><a href="https://july-20-reddit-nodejs-yvkschaefer.c9users.io/createPost">Create Post</a></td>
</body>
</html>